<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.thq.aaaccount">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:allowBackup="true"
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateActionActivity"
            android:label="@string/app_name_create_action"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_ACTION"/>
            </intent-filter>
        </activity>
        <activity android:name=".CreateActionItemActivity"
            android:label="@string/app_name_edit_item"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_ACTION"/>
            </intent-filter>
        </activity>
        <activity android:name=".ViewActionItemActivity"
            android:label="@string/app_name_view_item"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_ACTION"/>
            </intent-filter>
        </activity>
        <activity android:name=".ViewBillActivity"
            android:label="@string/app_name_view_bill"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_ACTION"/>
            </intent-filter>
        </activity>
        <activity android:name=".ViewAllActionActivity"
            android:label="@string/app_name_view_all_activity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_ACTION"/>
            </intent-filter>
        </activity>
    </application>

</manifest>